{% extends 'base.html.twig' %}


{% block title %}Register{% endblock %}

{% block body %}
    {% include 'includes/navbar.html.twig' %}
    <div class="content">


        {{ form_start(registrationForm, {'attr': {'class' : 'form-margin-top'}}) }}

        <h1 class="h2 mb-3 font-weight-normal">Register</h1>
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        <input type="submit" class="btn btn-primary" value="Register">

        {% for message in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endfor %}
        {{ form_end(registrationForm) }}
    </div>

{% endblock %}
