{% extends 'base.html.twig' %}

{% block title %}Find room!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}

{% block body %}
    {% include 'includes/navbar.html.twig' %}
    <div class="content">
        {% include 'admin/includes/admin_menu.html.twig' %}

        {% for message in app.flashes('success') %}
            <div class="col-5 alert alert-success">{{ message }}</div>
        {% endfor %}
        {% if reservations is not empty %}
            <div class="w-100 px-5 py-3">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Created by</th>
                        <th scope="col">Room</th>
                        <th scope="col">Check In</th>
                        <th scope="col">Check out</th>
                        <th scope="col">Price</th>
                        <th scope="col">Options</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for reservation in reservations %}
                        <tr class="align-middle">
                            <th scope="row" class="">{{ reservation.createdBy.email }}</th>
                            <th scope="row" class="">{{ reservation.room.number }}</th>
                            <td class="">{{ reservation.checkIn|date("m/d/Y") }}</td>
                            <td class="">{{ reservation.checkOut|date("m/d/Y") }}</td>
                            <td class="">{{ reservation.price }}</td>
                            <td class="">
                                <a href="../reservation/cancel/{{ reservation.id }}"><button class="btn btn-danger btn-sm">Cancel</button></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        {% if finishedReservations is not empty %}
            <div class="w-100 px-5 py-3">
                <div class="h2">Finished reservations</div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Created by</th>
                        <th scope="col">Room</th>
                        <th scope="col">Check In</th>
                        <th scope="col">Check out</th>
                        <th scope="col">Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for reservation in finishedReservations %}
                        <tr class="align-middle">
                            <th scope="row" class="">{{ reservation.createdBy.email }}</th>
                            <th scope="row" class="">{{ reservation.room.number }}</th>
                            <td class="">{{ reservation.checkIn|date("m/d/Y") }}</td>
                            <td class="">{{ reservation.checkOut|date("m/d/Y") }}</td>
                            <td class="">{{ reservation.price }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        {% if cancelledReservations is not empty %}
            <div class="w-100 px-5 py-3">
                <div class="h2">Cancelled reservations</div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Created by</th>
                        <th scope="col">Room</th>
                        <th scope="col">Check In</th>
                        <th scope="col">Check out</th>
                        <th scope="col">Price</th>
                        <th scope="col">Cancelled by</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for reservation in cancelledReservations %}
                        <tr class="align-middle">
                            <th scope="row" class="">{{ reservation.createdBy.email }}</th>
                            <th scope="row" class="">{{ reservation.room.number }}</th>
                            <td class="">{{ reservation.checkIn|date("m/d/Y") }}</td>
                            <td class="">{{ reservation.checkOut|date("m/d/Y") }}</td>
                            <td class="">{{ reservation.price }}</td>
                            <td class="">
                                {% if reservation.cancelledBy.email is defined  and not null%}
                                    {{  reservation.cancelledBy.email}}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

    </div>

{% endblock %}
