{% extends 'base.html.twig' %}

{% block title %}Find room!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}

{% block body %}
    {% include 'includes/navbar.html.twig' %}
    <div class="content">
        {% include 'admin/includes/admin_menu.html.twig' %}

        {% for message in app.flashes('success') %}
            <div class="col-5 alert alert-success">{{ message }}</div>
        {% endfor %}
        {% if checkedInReservations is not empty %}
        <div class="w-100 px-5 py-3">
            <div class="container">
                <div class="h2 text-center py-3">Checked-in reservations</div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Created by</th>
                        <th scope="col">Room</th>
                        <th scope="col">Check In</th>
                        <th scope="col">Check out</th>
                        <th scope="col">Price</th>
                        <th scope="col">Options</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for reservation in checkedInReservations %}
                        <tr class="align-middle">
                            <th scope="row" class="">{{ reservation.createdBy.email }}</th>
                            <th scope="row" class="">{{ reservation.room.number }}</th>
                            <td class="">{{ reservation.checkIn|date("m/d/Y") }}</td>
                            <td class="">{{ reservation.checkOut|date("m/d/Y") }}</td>
                            <td class="">{{ reservation.price }}</td>
                            <td class=""><a href="../reservation/checked-in/{{ reservation.id }}/guests"><button class="btn btn-info btn-sm">View guests info</button></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
                <div class="text-center">There are no checked-in reservations</div>
            {% endif %}
        </div>
    </div>

{% endblock %}
