{% extends 'base.html.twig' %}

{% block title %}Hello Admin!{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('admin') }}
    {{ encore_entry_script_tags('admin_rooms') }}
{% endblock %}
{% block body %}
    {% include 'includes/navbar.html.twig' %}

    <div class="content">
        {% include 'admin/includes/admin_menu.html.twig' %}

        <div class="w-100 px-5 py-3">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success text-center">{{ message }}</div>
            {% endfor %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Number</th>
                    <th scope="col">Floor</th>
                    <th scope="col">Single Beds</th>
                    <th scope="col">Double Beds</th>
                    <th scope="col">Capacity</th>
                    <th scope="col">Description</th>
                    <th scope="col">Offer</th>
                    <th scope="col">Options</th>
                </tr>
                </thead>
                <tbody>
                {% for room in rooms %}
                    <tr class="align-middle">
                        <th scope="row">{{ room.number }}</th>
                        <td>{{ room.floor }}</td>
                        <td>{{ room.singleBed }}</td>
                        <td>{{ room.doubleBed }}</td>
                        <td>{{ room.capacity }}</td>
                        <td class="description"><div class="text-truncate">{% if room.description is defined and not null %}{{ room.description }}{% endif %}</div></td>
                        <td class="offer"><div class="text-truncate">{% if room.offer.title is defined and not null %}{{ room.offer.title }}{% endif %}</div></td>
                        <td>
                            <div class="d-flex mh-100 flex-nowrap">
                                <a href="room/{{ room.id }}"><button class="btn btn-info btn-sm  me-2">VIEW (EDIT)</button></a>
                                <a href="room/delete/{{ room.id }}"><button class="btn btn-danger btn-sm">DELETE</button></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}
