{% extends 'base.html.twig' %}

{% block title %}Hello Admin!{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('admin') }}
    {{ encore_entry_script_tags('admin_room_add') }}
    {{ encore_entry_script_tags('admin_room') }}

{% endblock %}

{% block body %}
    {% include 'includes/navbar.html.twig' %}

    <div class="content">
        {% include 'admin/includes/admin_menu.html.twig' %}
        {{ form_start(form) }}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
            <h2 class="h2 mb-3 font-weight-normal">Room</h2>
            {{ form_row(form.number) }}
            {{ form_row(form.floor) }}
            {{ form_row(form.singleBed) }}
            {{ form_row(form.doubleBed) }}
            <div class="mb-2">Capacity: <span id="capacity">{{ room.capacity }}</span></div>
            {{ form_row(form.description) }}
{#            <div class="room-images d-flex flex-wrap align-items-center justify-content-around">#}
{#                {% for image in images %}#}
{#                    <div class="room-image">#}
{#                        <img src="{{ asset('uploads/images/') ~ image.fileName }}">#}
{#                        <i class="bi bi-x remove-image" data-image-id="{{ image.id }}"></i>#}
{#                    </div>#}
{#                {% endfor %}#}
{#            </div>#}
            <input type="text" id="remove_image_ids" hidden name="remove-image-ids">
            <div class="d-flex justify-content-evenly">
                <input type="submit" class="btn btn-primary" value="Update room">
{#                <a href="delete/{{ room.id }}"><button class="btn btn-danger">Delete</button></a>#}
            </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
