<div class="nav-wrap">
    <div class="navbar">
        <div id="logo">
            <a href="{{ path('app_home') }}"> FIND ROOM </a>
        </div>
        <div class="d-flex align-items-center">
            <nav>
                {% if not app.user() %}
                    <a class="nav-button" id="button_login" href="{{ path('app_login') }}">Login</a>
                    <a class="nav-button" id="button_register" href="{{ path('app_register') }}">Register</a>
                {% else %}
                    <a class="nav-button" id="button_logout" href="{{ path('app_logout') }}">Logout</a>
                {% endif %}
                {% if is_granted("ROLE_ADMIN") %}
                    <a class="nav-button" id="button_admin" href="{{ path('admin') }}">Admin</a>
                {% endif %}
            </nav>
            <div class="d-flex flex-column align-items-end ms-3">
                <label for="hamburger_checkbox"><i class="bi bi-list" style="color: white; font-size: 30px;"></i></label>
                <input id="hamburger_checkbox" type="checkbox" hidden>
                <div class="flex-column position-absolute menu">
                    {% if not app.user() %}
                        <a href="{{ path('app_login') }}">Login</a>
                        <a href="{{ path('app_register') }}">Register</a>
                    {% else %}
                        <a href="{{ path('admin') }}">Admin</a>
                    {% endif %}
                    <a>Find room!</a>
                    <a>Test</a>
                    {% if is_granted("ROLE_ADMIN") %} <a href="{{ path('app_logout') }}">Logout</a>{% endif %}
                </div>
            </div>

        </div>
    </div>
</div>